@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --dark-primary: #242424;
  --dark-secondary: #1a1a1a;

  --green-primary: #40c762;
  --red-primary: #ed1543;
  --blue-primary: #28a0dd;

  --gray-100: #f9f9fc;
  --gray-200: #e7e8f2;
  --gray-300: #c6c7d0;
  --gray-400: #a5a6ac;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: var(--gray-100);
}

header {
  background-color: #97ce4c;
  padding: 1rem;
}

#input-container {
  max-width: 900px;
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

#input-container > h1 {
  font-size: 5rem;
  color: #44281d;
  line-height: 1.6;
}

.filter-container {
  background-color: #fff;
  margin-top: 2rem;
  border: var(--gray-200) 2px solid;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  outline: none;
}

#buscador {
  width: 92%;
  font-size: 1.75rem;
}

#buscador:focus {
  outline: none;
}

#search-img {
  text-align: center;
}

.focused {
  border: #44281d 2px solid;
}

#container {
  width: 100%;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 2rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  max-height: 13rem;

  width: 30%;
  border-radius: 10px;

  background-color: #44281d;
  display: flex;
  gap: 1rem;
}

.character-image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 200px;
}

.character-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.character-info h2 {
  font-size: 1.25rem;
  color: var(--gray-100);
}

.character-info h3 {
  color: var(--gray-100);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.character-info p {
  color: var(--gray-400);
}

.Alive {
  background-color: var(--green-primary);
}

.Dead {
  background-color: var(--red-primary);
}

.unknown {
  background-color: var(--gray-400);
}

.loader {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#pages-container {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  font-size: 1.25rem;
}

#pages-container button {
  font-size: 1.25rem;
  background: transparent;
  cursor: pointer;
  color: #44281d;
}

#pages-container button:hover {
  border-bottom: 2px solid #44281d;
}

#pages {
  display: flex;
  gap: 0.875rem;
}

.current-page {
  border-bottom: var(--blue-primary) solid 2px;
}

footer img {
  display: block;
  width: 400px;
  margin: 1rem auto;
}

footer div {
  background-color: #97ce4c;
  padding: 2rem;
}

#api-info {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
}

#api-info p {
  color: #44281d;
  font-weight: 600;
}

#api-info p span {
  color: #44281d;
}

#developer-info {
  text-align: center;
  margin-top: 3rem;
  color: #44281d;
}
.horizontal-line {
  height: 1px; /* Set the height of the line */
  background-color: #44281d; /* Set the color of the line */
  margin: 10px 0; /* Add some margin for spacing */
  border: none; /* Remove any default border */
  width: 70%;
}
.hidden {
  visibility: hidden;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-10 15:48:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
